body {
  background-image: url(https://images.unsplash.com/photo-1717667745836-145a38948ebf?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z2FyYmFnZSUyMHRydWNrfGVufDB8fDB8fHww);
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
  padding: 20px;
}
img {
  width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
}
p {
  width: 80%;
  background-color: rgba(255,255,255,0.6);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  text-align: center;
}
.menu {
  width: 80%;
  background-color: rgba(255,255,255,0.6);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}
