body {
  background-image: url(https://walrus-assets.s3.amazonaws.com/img/garbage.jpg);
  background-position: center;
  background-size: cover;
  font-family: 'Times New Roman', serif;
  padding: 20px;
}
img {
  width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
  color: black;
  font-size: 50px;
}
p {
  width: 80%;
  background-color: rgba(253,218,176,0.6);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  text-align: center;
  color: black;
  font-size: 20px;
}
.menu {
  width: 80%;
  background-color: rgba(253,218,176,1);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  color: black;
}

fieldset {
  border: none;
  padding: 1rem 0;
  
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #87CEEB;
  border-color: white;
  min-width: 300px;
}
